.baseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  &:disabled {
    background-color: #ccc;
    border-color: #ccc;
    color: #fff;
  }
}

@mixin primaryButton($width, $height, $backgroundColor, $fontSize, $color) {
  @extend .baseButton;
  height: $height;
  width: $width;
  background: $backgroundColor;
  font-size: $fontSize;
  border-radius: $height;
  color: $color;
  border: none;
}

@mixin gostButton($width, $height, $color, $fontSize) {
  @extend .baseButton;
  height: $height;
  width: $width;
  background: #fff;
  font-size: $fontSize;
  border-radius: $height;
  color: $color;
  border: 2px solid $color;
}
